@charset "utf-8";
/* **************************************** *
 * CSS Variables
 * **************************************** */
/*
 * File       : common.css
 * DATA       : 2022.08.28
 * Author     : @ansk28
 * Guideline  : SUPERBEE.1.0.0
 *
 * SUMMARY:
 * 1) CSS Document
 * 2) Button CSS
 * 3) TITLE
 * 4) TITLE
 * 5) TITLE
 * 6) TITLE
 * 7) TITLE
 */

/* **************************************** *
 * CSS Document
 * **************************************** */
/* Default set */
/* color spectrum */
:root {
  --red-color: #ff1c3c ;
  --yellow-color: #ffb801;
  --orange-color: #ff9110;
  --skyBlue-color: #29b2ff;
  --blue-color: #3067ff;
  --gray-color-01: #e9e9e9;
  --gray-color-02: #a9a9a9;
  --gray-color-03: #5b5b5b;
  --gray-color-04: #404040;
  --lightBlue-color-01: #e4e8f1;
  --lightBlue-color-02: #c9d0e4;
  --white-color: #ffffff;
  --black-color: #262626;
}
*{box-sizing: border-box;margin: 0;padding: 0;font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP','Noto Sans KR', sans-serif;}
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,table,th,td{margin:0;padding:0;font-weight:normal}
body{font-size:13px;line-height:18px;color:#666;word-break:keep-all}
input, textarea, select{padding:0;color:#666;vertical-align:middle}
input[type=text],input[type=file],input[type=password]{border:1px solid #d4d4d4;outline:none;}
input[type=text],input[type=password]{padding:0 14px;height:38px;line-height:38px;border:1px solid #ccc;font-size:13px;color:#333}
input[type=text]::-ms-clear{display:none}
input[type=password]::-ms-clear{display:none} 
input[type=file]{border:0;padding:0} 
input[type=text]:focus,input[type=password]:focus{border:1px solid #ea002c}
textarea{border:1px solid #d4d4d4}
ul,ol,li{list-style: none;padding: 0;margin: 0;}
input.radio, input.check,fieldset{border:0;background:none}
select{height:38px;padding:2px 4px 3px 7px;border:1px solid #ccc;font-size:13px;color:#333}
button{overflow:visible}
a{text-decoration: none;}
/* skipToContent */
#skipToContent a {position:absolute; top:0; left:0; z-index:9999; width:100%; height:1px; margin-top:-1px; display:block; background-color:#3875c1; font-size:14px; font-weight:bold; color:#fff; line-height:1; text-align:center; overflow:hidden}
#skipToContent a:focus,
#skipToContent a:active {margin-top:0; height:auto; padding:10px 0px} 

/* common css */
.wrap{width: 100%;overflow-x: hidden;}
.container {width: 1620px;margin: 0 auto;}
.clearfix{content:'';display:block;clear:both;}

.wrap.sub-wrap{padding-top: 152px;}

